.ivc_char {
    padding-bottom: 30px;
    width: 20vh;
    height: 50vh;
    float: left;
    padding-right: 1em;
    background-color: white;
    padding-left: 1em;
    margin: 1em;
    display: inline-block;
}

.sc_team_item {
    text-align: center;
}

.name {
    color: #2a3342;

    font-size: 1.571em;
    margin-bottom: 1px;

}

@media (max-width: 420px) {

    .picture {
        height: 200px !important;

    }

    .ivc_char {
        width: 100%;
    }
}

.picture {
    height: 150px;
    width: 100%
}

.content_wrap {
    background-color: #f7f7f7;
}

.page_title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.member_text {
    word-break: break-all;
    color: #8a8d90;
    padding-top: 1.65em;
    padding-bottom: 1.3em;
    text-align: center;
}

