{% extends 'intranet/home/home_page.html' %}
{% load markdown_extras %}
{% block title%} Intranet1 {% endblock %}
<head>
    <link rel="stylesheet" type="text/css" href="../../../../intranet/static/css/home_page.css">
</head>
{% block post_about %}
    {% for post in recent_posts %}
        <article class = "post_item_with_thumb first">
            <div class = "post_thumb">
                <img src ="{{ post.preview_pic.url }}" class = "post_preview_image">
            </div>
            <div class = "post_content">
                <h6 class = "post_title">
                    <a href = "http://127.0.0.1:8000/post/{{ post.pk }}">{{ post.title }}</a>
                </h6>
                <div class = "post_info">
                    <span class = "post_info_item post_info_posted">
                        {{ post.get_date}}
                    </span>
                    <span class = "post_info_item post_info_posted_by">
                        by <a href = "http://127.0.0.1:8000/profile/dge{{ post.author.id }}du">  {{ post.author.first_name }} {{ post.author.last_name }}</a>
                    </span>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}

{#            On  {{ post.published_at }}#}
{#        </p>#}
{#        <p>{{ post.description|safe }}</p>#}
{#            <p>#}
{#    {% for tag in post.tag.all %}#}
{#        <a href = "http://127.0.0.1:8000/tag={{tag.name}}">{{tag.name}}</a>#}
{#    {% endfor %}</p>#}
{#                   <ul>#}
{#        <li data-id="{{ post.pk }}" data-type="post" data-action="like" title="Нравится">#}
{#            <span><img src = '../../../../media/ld/like.png' width="32" height="32" id = 'like-btn'  ></span>#}
{#            <span data-count="like">{{ post.votes.likes.count }}</span>#}
{#        </li>#}
{#        <li data-id="{{ post.pk }}" data-type="post" data-action="dislike" title="Не нравится">#}
{#            <span><img src = '../../../../media/ld/dislike.png' width="32" height="32" id = 'dislike-btn'></span>#}
{#            <span data-count="dislike">{{ post.votes.dislikes.count }}</span>#}
{#        </li>#}
{#    </ul>#}
{#        <p><a href="{{ post.get_absolute_url }}" id = 'post_link'>See more...</a></p>#}
{#    </p>#}
{#    {% endfor %}#}