.ivc_char {
    padding-bottom: 30px;
    width: 24vh;
    height: 32vh;
    float: left;
    background-color: white;
    margin: 1em;
    display: inline-block;
}
.back_picture{
    background-color: #1ebeb4;
}
.sc_team_item {
    text-align: center;
}

.name {
    color: #2a3342;
    margin-top: 30px;
    font-size: 1.571em;

}

@media (max-width: 420px) {

    .picture {
        height: 200px !important;

    }

    .ivc_char {
        width: 100%;
        padding-right: 0;
        height: 35vh;
    }
    .member_text{
        padding-top: 0 !important;
    }
}

.picture {
    height: 175px;
    width: 100%;
    transition: all 0.3s;
}

.ivc_char:hover .picture{
    opacity: 55%;
    transition: all 0.3s;
}
.content_wrap {
    background-color: #f7f7f7;
}

.page_title {

    text-align: center;
    font-size: 2.857em;
    margin-bottom: 20px;
}

.member_text {
    word-break: break-all;
    color: #8a8d90;
    padding-top: 0.7em;
    padding-bottom: 1.3em;
    text-align: center;
}

.page_title {
    margin: 0;
    font-weight: 100;
    color: #a9aaad;
}

h1{
    font-weight: 100;
}

.send_mail {
    text-align: center;
    background-color: #1ebeb4;
    font-size: 1.7em;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1.2em;
    margin-top: -2.2em;
    z-index: 5;
}

.user_info{
    position: relative;
    margin-top: 15px;
}


.mask { position: relative; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; }


.back_picture>a{
    padding: 0;
}
.send_mail{
    color: white;
}
.menu_main_wrap {
    background-color: #383a3f;
}
.menu_main_nav > li::before {
    color: #ffffff;
}
.menu_main_nav > li > a {
    color: #ffffff;
}