h1 {
    font-size: 2.857em;
    line-height: 1.225em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.59em;
}

.post_title {
    margin-top: 0;
    margin-bottom: 0.7em;
    font-size: 2em;
    font-weight: 500;
}

.body_wrap {
    color: #8a8d90;
}



.post_featured {
    text-align: center;
    margin-bottom: 2.15em;
    position: relative;
}

.post_featured img {
    height: auto;
}

.post_info {
    font-size: 12px;
    line-height: 1.2857em;
    font-weight: 500;
    margin-bottom: 2.4em;
}
p {
word-break: break-all}

article.post_item_single {
    overflow: hidden;
    padding: 2.857em;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
}

.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-right: 15px;
    width: 100%;
}



.pushy_button.sc_button {
    font-size: 1.2em;
    line-height: 2.143em;
    text-align: center;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

.top_panel_title_inner {
    overflow: hidden;
    text-align: center;
    padding: 2.1em 0;
}

.body_type_2 .sidebar.widget_area {
    background-color: transparent !important;
    box-shadow: none !important;
}

.nothing {
    font-size: 4em;
    padding-left: 255px;
}

h5 {
    font-size: 1.2857em;
    line-height: 1.5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.85em;
}


.content_wrap {
    z-index: 2;
    position: relative;
    background-color: #fff;
    padding: 0 4.28em 2em;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    float: none;
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;

}




.wrapped-text::before {
    content: "";
    display: block;
    /*height: 25px;*/
    position: relative;
    top: 79px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%)
}


.column-1_3, .column-2_6, .column-3_9, .column-4_12 {
    width: 33.33333333%;
    margin-right: -3px;
}

.menu_main_wrap {
    background-color: #383a3f;
}

.menu_main_nav > li::before {
    color: #ffffff;
}

.menu_main_nav > li > a {
    color: #ffffff;
}

.post_info_item.post_info_posted a, .post_info_item.post_info_posted_by a,
.post_info_item.post_info_tags a, .post_info .post_info_counters .post_counters_views {
    color: #1ebeb4;
}

.post_info .post_info_counters {
    margin-left: 2.5em;
}

.post_info .post_info_counters .post_counters_likes {
    color: #ee5744 !important;
}

.post_counters_comments {
    color: #aaadb1 !important;
}

.post_info a > span {
    color: #8a8d90;
}

.post_info .post_info_counters .post_counters_item {
    display: inline-block;
    margin-right: 2em;
}

.post_info.post_info_bottom {
    margin-bottom: 0;
    margin-top: 1.7em;
}

.post_info.post_info_bottom.post_info_share {
    margin-bottom: 0;
    margin-top: 1.5em;
}



.post_item_with_thumb{
    margin-top: 1.7em;
}



.post_author {
    margin-top: 30px;
    border-radius: 3px;
    border: 2px solid;
    padding: 2.6em 1.85em;
    overflow: hidden;
}

.post_author .post_author_avatar {
    float: left;
    margin: 0 20px 10px 0;
    overflow: hidden;
    width: 75px;
    height: 80px;
}

.comments_wrap {
    margin-top: 30px;
    clear: both;
}

.comments_list_wrap {
    padding: 2.857em;
    border: 2px solid;
    border-radius: 3px;
}

h2.comments_list_title {
    color: #1ebeb4;
}

.comments_list_wrap .comments_list_title {
    margin-top: 0;
}

.comments_list_wrap > ul {
    border-bottom-color: #f1f1f1;
}

.comments_list_wrap > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.comments_list_wrap ul > li {
    overflow: hidden;
    position: relative;
    min-height: 5em;
    margin-bottom: 0;
}

.comments_list_wrap > ul {
    list-style: none;
}

.comments_list_wrap .comment_content {
    padding-left: 70px;
}

.comments_list_wrap .comment_info {
    font-size: 1em;
    margin-bottom: 0.45em;
}

.comments_list_wrap .comment_info > span.comment_author {
    color: #2a3342;
}

.comments_list_wrap .comment_info .comment_author {
    display: block;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.comments_list_wrap .comment_info .comment_date, .comments_list_wrap .comment_info .comment_time {
    font-size: 12px;
}

.comments_list_wrap .comment_info > .comment_date > .comment_date_value, .scheme_original .comments_list_wrap .comment_info .comment_time {
    color: #1ebeb4;
}

.scheme_original .comments_list_wrap .comment_info .comment_time {
    color: #1ebeb4;
}

.scheme_original .comments_list_wrap .comment_reply a {
    color: #ee5744;
}

.comment_text_wrap {
    font-size: 1.285em;
    line-height: 1.45em;
}

.comment_author_avatar {
    width: 75px;
    height: 75px;
}

.comments_list_wrap .comment_author_avatar {
    position: absolute;
    left: 0;
    top: 0.25em;
    z-index: 1;
    width: 51px;
    height: 51px;
    border-radius: 3px;
    overflow: hidden;
}

.scheme_original .comments_list_wrap ul > li + li {
    border-top-color: #f1f1f1;
}

.comments_list_wrap ul > li + li {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 1.9em;
    margin-top: 1.5em;
}

.comments_list_wrap ul.children, .comments_list_wrap ul > li + li {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 1.9em;
    margin-top: 1.5em;
}

.comments_list_wrap ul > li {
    overflow: hidden;
    position: relative;
    min-height: 5em;
    margin-bottom: 0;
}

ul.children {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 1.9em;
    margin-top: 1.5em;
}

.comments_list_wrap ul ul {
    padding-left: 105px;
    margin-left: 105px;
}

.comments_list_wrap .comment_reply a {
    font-size: 12px;
}

.comment_reply a {
    color: #ee5744;
}

.comment_reply {
    display: inline-block;
    margin-left: 1em;
}

.comments_list_wrap ul > li + li {
    border-top-color: #f1f1f1;
}

.comments_list_wrap ul.children {
    border-top-color: #f1f1f1;
}

.comments_list_wrap {
    border-color: #f1f1f1;
}

.comments_form_wrap {
    margin-top: 30px;
    padding: 2.857em;
    border: 2px solid;
    border-radius: 3px;
}

.comments_form_wrap {
    border-color: #f1f1f1;
}

.comments_form_wrap {
    background-color: #f7f7f7;
}

h2.comments_form_title, h2.comments_list_title {
    color: #1ebeb4;
}

h2 {
    font-size: 2em;
    line-height: 1.285em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.85em;
}



.comments_wrap .comment-respond {
    padding-bottom: 4px;
}

.comments_wrap .comments_notes {
    font-size: 0.875em;
    color: #909090;
}



.comments_wrap .comments_field {
    margin-bottom: 10px;
}

[class*="sc_input_hover_"] .comments_field {
    position: relative;
    z-index: 1;
}

.comments_wrap .comments_field textarea {
    width: 100%;
    padding: 0.75em 1em;
    background-color: #fff;
}

.scheme_original textarea {
    border-top-color: #dfdfdf;
}

.comments_wrap .comments_author, .comments_wrap .comments_email {
    width: 48.5%;
    float: left;
}

.comments_wrap .comments_field {
    margin-bottom: 10px;
}

[class*="sc_input_hover_"] .comments_field {
    position: relative;
    z-index: 1;
}

.comments_wrap .comments_field input[type="text"] {
    width: 100%;
    padding: 0.75em 1em;
    background-color: #fff;
}

input[type="text"], .scheme_original textarea {
    border-top-color: #dfdfdf;
}

.form-submit {
    margin-bottom: 0;
    margin-top: 30px;
}

input[type="submit"] {
    background-color: #2a3342;
}

input[type="submit"] {
    color: #ffffff;
}

input[type="submit"], input[type="button"], button, .sc_button {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    padding: 14px 51px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2857em;
    margin: 0;
    vertical-align: baseline;
}

.comments_email {
    padding-left: 24px;
}

.post_author {
    background-color: #f7f7f7;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.post_item_excerpt {
    margin-bottom: 1.35em;
    overflow: hidden;
    padding: 2.857em;
    border: 2px solid;
}

.sc_button {
    line-height: 1.2857em;
}

.sc_button {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}


.sc_button, .scheme_original .sc_button.sc_button_style_filled {
    background-color: #1ebeb4;
}

.sc_button, .scheme_original .sc_button.sc_button_style_filled {
    color: #ffffff;
}

.top_panel_controls {
    line-height: 1.2857em;
}

.g_b {
    background-color: #F3F3F3;
}

.icon-profile::before {
    content: '\e80e';
}

.menu-item-has-children:hover {
    background-color: #22cabf;
    border-radius: 3px;
}

.widget_birthdays ul {
    padding: 0;
}

.widget_area ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.widget_birthdays ul li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
    overflow: hidden;
}

.widget_birthdays .post_thumb_bday {
    width: 38px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.post_preview_image {
    border-radius: 3px;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.date_bday {
    font-size: 0.857em;
    line-height: 1.75em;
    display: inline-block;
    padding: 0 7px;
    border-radius: 3px;
    font-weight: 600;
    margin-left: 3px;
}

.date_bday {
    background-color: #1ebeb4;
    color: white;
}

.widget_birthdays {
    color: #2a3342;
}


@media (max-width: 767px) {

    .columns_wrap > [class*="column-"],
    .columns_wrap > [class*="column-"] {
        margin-left: 0;
        min-width: 100%;
        margin-right: 0;
    }

    .columns_wrap > [class*="column-"] + [class*="column-"]:not(.column_padding_bottom) {
        margin-top: 30px;
    }

    .footer_wrap_inner {
        margin-left: 0;
    }
.post_title {
    font-size: 1.4em;

}
}
