{% extends 'intranet/home/home_page.html' %}
{% load static %}
{% load markdown_extras %}
<div class="content_wrap " style="transition: all 0.3s ease 0s;">
    {% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vacancies.css' %}">

        <div class="page_title">Vacancies</div>
        <div class="sc_vacancies sc_table">
            <table class="table">
                <thead>
                <tr>
                    <td width="25%">SCHEDULE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Position</td>
                    <td>Location</td>
                    <td>Deadline</td>
                    <td>Salary</td>
                </tr>
                {% for dude in people %}

                    <tr>
                        <td class="position"><a><span class="post_position">{{ dude.position }}</span></a></td>
                        <td class="location"><a>{{ dude.location }}</a></td>
                        <td class="employment"><a><span
                                class= {{ dude.deadline }}>{{ dude.get_deadline_display }}</span></a></td>
                        <td class="salary"><a>{{ dude.salary }}</a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock content %}
</div>
