{#{% extends 'intranet/home/home_page.html' %}#}

<div>
    <h1>Polls details page</h1>

    <hr>
    <h2>{{ poll }}</h2>
    <form action="{% url 'polls:vote' poll.id %}" method="POST">
        {% csrf_token %}
        {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
        {% endfor %}
        <input type="submit" value="Vote" >
        <a href="{% url 'polls:list' %}" role="button">Cancel</a>
    </form>

</div>
