.user_editor_form{
    border: 2px solid #8a8d90;
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 5px;

}

.user_editor_form > p > [id^=id_]{
   border-radius: 5px;
   border: 2px solid #f1f1f1;
}

h2.edit_profile{
    color: #1ebeb4;
}

h2 {
    font-size: 2em;
    line-height: 1.285em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.85em;
}

input[type="submit"]{
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    padding: 0.6em 0.8em;
    border: 1.5px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px;
    font-size: 1.25em;
    color: #ffffff;
    background-color: #2a3342;
    outline: none;
    transition: all 0.3s ease 0s;

}

input[type="submit"]:hover{
    background-color: #1ebeb4;
    color: #f1f1f1;

}

.user_editor_form > p > [id^=id_]:focus{
    border-color: #1ebeb4;
    outline: none;
}


.content_wrap{
    padding: 0;
    max-width: 1052px;
    width: 1052px;
}

.sidebar_wrap{
    max-width: 410px;
    width: 410px;
}


.sc_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.05) 100%);
}

.pushy_button.sc_button {
    padding: 0;
    font-size: 1.2em;
    width: 2.143em;
    height: 2.143em;
    line-height: 2.143em;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}