{% extends "intranet/user/profile.html" %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/profile_editor.css" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile_editor.css" %}">

    <form action="http://127.0.0.1:8000/profile/dge{{ user.id }}du/editor/"  method="post" enctype="multipart/form-data" class = "user_editor_form">
    <h2 class = "edit_profile">Redact profile</h2>
        {{ form.as_p|safe}}
    {% csrf_token %}
        <input type="submit" value="Save changes">
    </form>
{% endblock %}
